@font-face {
    src: url(fonts/ZCOOLkuaile-Regular.ttf);
font-family: COO;
}


p1{
    font-size: 40px;
    font-family: COO;
    float: left;
    text-align: center;
    color : rgb(212, 132, 26);

}
p2{
    font-size: 40px;
    font-family: COO;
    float: left;
    text-align: center;
    color : rgb(212, 132, 26);
}
p3{
    font-size: 40px;
    font-family: COO;
    float: left;
    text-align: center;
    color : rgb(212, 132, 26);
}
p4{
    font-size: 50px;
    font-family: COO;
    float: right;
    text-align: center;
    color : rgb(212, 132, 26);
}
body{
    background-image: url(../image/o-MATH-ON-CHALKBOARD-facebook.jpg) 

}
.jumbotron {
    color: rgb(216, 142, 45);
    text-align: center;
    font-family: COO;
    font-size: 45px;
    
}
    
    

